/* --------------------------------------- */
/* FONT AND BACKGROUND SETTINGS */
/* --------------------------------------- */
html, body {
    background-color: #fff;    
    font-family: 'Amatic SC', 'Arial', sans-serif;
    font-size: 40px;
    color:rgb(247, 246, 131);
    text-align: center;
    width: auto;
    margin: 0 auto;
    background-image: linear-gradient(rgba(250, 240, 240, 0.7), 
    rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    /* Background scrollt mit*/
    background-attachment: fixed;
    background-repeat: no-repeat;    
}

/* --------------------------------------- */
/* FONT AND BACKGROUND SETTINGS END*/
/* --------------------------------------- */

.content {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  margin-top: 1000px;
  background-color: rgba(250, 240, 240, 0.7)
}

h1 {
    font-size: 80px;

}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}

/* --------------------------------------- */
/* LOGO */
/* --------------------------------------- */
.logo {
    display: grid;
    height: 80px;
    width: 100px;
    
}
/* --------------------------------------- */
/* LOGO END */
/* --------------------------------------- */



/* --------------------------------------- */
/* NAVIGATION */
/* --------------------------------------- */

 
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    font-size: 40px;
    color: #fff;
  }
  
  .nav > .nav-btn {
    display: none;
  }
    
  .nav > .nav-links {
    display: grid;
    font-size: 60px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 80px;
    align-items: center;
    text-align: center;
    position:fixed;
    }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 0px;
    text-decoration: none;
    color: rgb(43, 128, 244);    
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(247, 246, 131, 0.3);
    height: 70px;
		transform:translateY( -8px);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:800px) {

    .logo {
      display: inline-block;
    }
    
    .nav > .nav-btn {
      display: inline-block;
      position: fixed;
      right: 0px;
      top: 0px;      
    }

    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }

/* NAVIGATION HAMBURGER*/

    .hamburger {
      display: block;
      width: 30px;
      height: 30px;
      position: fixed;      
  }

    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      position:fixed;
      z-index: 1;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}
/* --------------------------------------- */
/* NAVIGATION END */
/* --------------------------------------- */

/* --------------------------------------- */
/* SLIDESHOW */
/* --------------------------------------- */

.slideshow {
  position: absolute;
  max-width: 100%;
  height: auto;
  padding: 20px;
  top: 10%;
  }

.mySlides {
  display: none;
  width:100%;
}