/* --------------------------------------- */
/* FONT AND BACKGROUND SETTINGS */
/* --------------------------------------- */
html, body {
    background-color: #fff;    
    font-family: 'Amatic SC', 'Arial', sans-serif;
    font-size: 40px;
    color:rgb(247, 246, 131);
    text-align: center;
    width: auto;
    margin: 0 auto;
}

/* --------------------------------------- */
/* FONT AND BACKGROUND SETTINGS END*/
/* --------------------------------------- */



/* --------------------------------------- */
/* Background */
/* --------------------------------------- */
body {
    background-image: linear-gradient(rgba(250, 240, 240, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    /* Background scrollt mit*/
    background-attachment: fixed;
    background-repeat: no-repeat;    
}
/* --------------------------------------- */
/* BACKGROUND END */
/* --------------------------------------- */



.content {
    position: absolute;
    width: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 80px;
    margin-top: 2000px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}



/* --------------------------------------- */
/* LOGO */
/* --------------------------------------- */
.logo {
    height: 150px;
    width: 150px;
    float: left;
    margin-top: -30px;
    margin-left: -30px;
    position: fixed;
}
/* --------------------------------------- */
/* LOGO END */
/* --------------------------------------- */



/* --------------------------------------- */
/* NAVIGATION */
/* --------------------------------------- */
* {
    box-sizing: border-box;
  }
 
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 40px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
    
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    margin-left: -220px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(43, 128, 244);
    
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(247, 246, 131, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }

/* NAVIGATION HAMBURGER*/

    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }

    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}
/* --------------------------------------- */
/* NAVIGATION END */
/* --------------------------------------- */
